#header{
    position: relative;
    border-style: dotted;
}

#header h3{
    position: absolute;
    top: -20px;
    left: 5%;
    color: red;
}

#header nav{
    position: absolute;
    top: 25%;
    left: 75%;    
    font-weight: bold;

}